html, body {
  height: 100%;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  color: var(--text);
  background: rgb(48, 47, 74); /* ~ (0.188, 0.185, 0.289) * 255 => #302F4A */
  display: grid;
  place-items: center;
  padding: 24px;
}
